@inject IHttpRepository<LicenceWorkFlowDto> licenceWorkflowService
@inject HttpInerceptorService _interceptor
	<!-- Messages-->
                                        <div class="dropdown d-md-flex notifications">
											<a class="nav-link icon" data-bs-toggle="dropdown">
												<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M18,14.1V10c0-3.1-2.4-5.7-5.5-6V2.5C12.5,2.2,12.3,2,12,2s-0.5,0.2-0.5,0.5V4C8.4,4.3,6,6.9,6,10v4.1c-1.1,0.2-2,1.2-2,2.4v2C4,18.8,4.2,19,4.5,19h3.7c0.5,1.7,2,3,3.8,3c1.8,0,3.4-1.3,3.8-3h3.7c0.3,0,0.5-0.2,0.5-0.5v-2C20,15.3,19.1,14.3,18,14.1z M7,10c0-2.8,2.2-5,5-5s5,2.2,5,5v4H7V10z M13,20.8c-1.6,0.5-3.3-0.3-3.8-1.8h5.6C14.5,19.9,13.8,20.5,13,20.8z M19,18H5v-1.5C5,15.7,5.7,15,6.5,15h11c0.8,0,1.5,0.7,1.5,1.5V18z"/></svg>
												<span class=" pulse"></span>
											</a>
											<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
												<div class="drop-heading border-bottom">
													<div class="d-flex">
														<h6 class="mt-1 mb-0 fs-15 text-dark">Notifications</h6>
														<div class="ms-auto">
															<span class="xm-title badge bg-secondary text-white fw-normal fs-11 badge-pill"> <a href="javascript:void(0);" class="showall-text text-white">Clear</a> </span>
														</div>
													</div>
												</div>
												<div class="notifications-menu ps3 overflow-hidden">
													
													   @foreach (var item in Workflows)
                                                     {

                    
                                                    <a class="dropdown-item" href="licences/detail/@item.LicenceId">
														<div class="notification-each d-flex">
															<div class="me-3 notifyimg  bg-primary brround">
																<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M17.4541016,11H6.5458984c-0.276123,0-0.5,0.223877-0.5,0.5s0.223877,0.5,0.5,0.5h10.9082031c0.276123,0,0.5-0.223877,0.5-0.5S17.7302246,11,17.4541016,11z M19.5,2h-15C3.119812,2.0012817,2.0012817,3.119812,2,4.5v11c0.0012817,1.380188,1.119812,2.4987183,2.5,2.5h12.7930298l3.8534546,3.8535156C21.2402344,21.9473267,21.3673706,22,21.5,22c0.276123,0,0.5-0.223877,0.5-0.5v-17C21.9987183,3.119812,20.880188,2.0012817,19.5,2z M21,20.2929688l-3.1464844-3.1464844C17.7597656,17.0526733,17.6326294,17,17.5,17h-13c-0.828064-0.0009155-1.4990845-0.671936-1.5-1.5v-11C3.0009155,3.671936,3.671936,3.0009155,4.5,3h15c0.828064,0.0009155,1.4990845,0.671936,1.5,1.5V20.2929688z M17.4541016,8H6.5458984c-0.276123,0-0.5,0.223877-0.5,0.5s0.223877,0.5,0.5,0.5h10.9082031c0.276123,0,0.5-0.223877,0.5-0.5S17.7302246,8,17.4541016,8z"/></svg>
															</div>
															<div>
																<span class="notification-label mb-1">@item.Licence.CompanyName</span>
																<span class="notification-subtext text-muted">2 hours ago</span>
															</div>
														</div>
													</a>
                                                     }
												</div>
												<div class="dropdown-divider m-0"></div>
												<div class="text-center p-3">
													<a href="/licenceworkflows/rejected" class="btn btn-primary">View All Notifications</a>
												</div>
											</div>
										</div>
										<!-- NOTIFICATIONS -->
@code {

    private List<LicenceWorkFlowDto> Workflows = new List<LicenceWorkFlowDto>();

    protected override async Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Workflows = await licenceWorkflowService.GetAll($"{EndPoints.LicenceWorkflowEndPoint}RejectedLicence");

    }
}
