@inject IHttpRepository<LicenceDocumentDetailDto> licenceDocumentService

@if (licenceDocumentDetail.FileExtension == ".pdf")
{
    <div style="height: 1200;">

        <embed id="iframe" src="@file" width="1270" height="1200" allowfullscreen webkitallowfullscreen />
    </div>

}
else
{
    <img width="1300" height="700" src="@file" />
}
@code {

    [Parameter]
    public int Id { get; set; }
    private string file;
    private LicenceDocumentDetailDto licenceDocumentDetail = new LicenceDocumentDetailDto();

    protected override async Task OnInitializedAsync()
    {

        licenceDocumentDetail = await licenceDocumentService.Get($"{EndPoints.LicenceDocumentEndPoint}", Id);
        var base64String = Convert.ToBase64String(licenceDocumentDetail.File, 0, licenceDocumentDetail.File.Length);
        if (licenceDocumentDetail.FileExtension == ".pdf")
        {

            file = $"data:application/pdf;base64,{base64String}";
        }
        else
        {
            file = $"data:image/png;base64,{base64String}";
        }
    }

}
