@page "/auth/login"
@using MoeSystem.Client.Services.Base;
@inject IAuthenticationService authService
@inject NavigationManager navigationManager
@layout EmptyLayout

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center">
                            <a href="html/index.html" class="logo-link">
                                <img class="logo-light logo-img logo-img-lg" src="images/som.png"
                                    srcset="images/som.png 2x" alt="logo">
                                <img class="logo-dark logo-img logo-img-lg" src="images/som.png"
                                    srcset="images/som.png 2x" alt="logo-dark">
                            </a>
                        </div>
                        <div class="card">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h4 class="nk-block-title">Sign-In</h4>
                                        <div class="nk-block-des">
                                            <p>Access the Dashlite panel using your email and passcode.</p>
                                        </div>
                                    </div>
                                </div>
                                <EditForm Model="LoginModel" OnValidSubmit="HandleLogin">

                                    <DataAnnotationsValidator />
                                    @* <ValidationSummary></ValidationSummary> *@
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="default-01">Email or Username</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            <InputText type="email" @bind-Value="LoginModel.Email"
                                                class="form-control form-control-lg" id="default-01"
                                                placeholder="Enter your email address or username" />
                                            <ValidationMessage For="@(() => LoginModel.Email)" style="color:red" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="password">Password</label>

                                        </div>
                                        <div class="form-control-wrap">
                                            <a href="#" class="form-icon form-icon-right passcode-switch lg"
                                                data-target="password">
                                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                                            </a>
                                            <input type="password" @bind="LoginModel.Password"
                                                class="form-control form-control-lg" id="password"
                                                placeholder="Enter your password">
                                            <ValidationMessage For="@(() => LoginModel.Password)" style="color:red" />
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(message))
                                    {

                                        <div class="alert alert-danger">
                                            <p>@message</p>
                                        </div>
                                    }

                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block" disabled="@Loading">
                                            @if (Loading)
                                            {
                                                <div class="spinner-border" role="status">
                                                </div>
                                            }
                                            else
                                            {
                                                <span>Sign In</span>
                                            }
                                        </button>
                                    </div>
                                </EditForm>
                                <div class="form-note-s2 text-center pt-4"> New on our platform? 
                           
                                </div>
                                <div class="text-center pt-4 pb-3">
                                    <h6 class="overline-title overline-title-sap"><span>OR</span></h6>
                                </div>
                                <ul class="nav justify-center gx-4">
                                
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="nk-footer nk-auth-footer-full">
                        <div class="container wide-lg">
                            <div class="row g-3">
                                <div class="col-lg-6 order-lg-last">
                                    <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Terms & Condition</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Privacy Policy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Help</a>
                                        </li>
                                        <li class="nav-item dropup">
                                            <a class="dropdown-toggle dropdown-indicator has-indicator nav-link"
                                                data-bs-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                <ul class="language-list">
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/english.png" alt=""
                                                                class="language-flag">
                                                            <span class="language-name">English</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/spanish.png" alt=""
                                                                class="language-flag">
                                                            <span class="language-name">Español</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/french.png" alt=""
                                                                class="language-flag">
                                                            <span class="language-name">Français</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/turkey.png" alt=""
                                                                class="language-flag">
                                                            <span class="language-name">Türkçe</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <div class="nk-block-content text-center text-lg-left">
                                        <p class="text-soft">&copy; 2022 MOEM. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>


</body>
@code {
    private LoginDto LoginModel { get; set; } = new LoginDto();
    string message = string.Empty;
    private bool Loading { get; set; }
    private async Task HandleLogin()
    {
        Loading = true;
        try
        {
            var response = await authService.AuthenticateAsync(LoginModel);

            navigationManager.NavigateTo("/");


        }
        catch (ApiException ex)
        {
            if (ex.StatusCode == 404)
            {
                message = "Invalid Credentials, Please Try Again";
                Loading = false;
                return;
            }
            else if (ex.StatusCode == 401)
            {
                message = "Invalid Credentials, Please Try Again";
                Loading = false;
                return;
            }
            message = ex.Message;
            //throw;
        }
        catch (Exception ex)
        {
            message = ex.Message;

        }
        Loading = false;
    }


}
