@layout EmptyLayout
<body class="ltr error-bg">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader" style="display: none;">
        <img src="assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- End GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <!-- PAGE-CONTENT OPEN -->
        <div class="page-content error-page error2">
            <div class="container text-center">
                <div class="error-template">
                    <h2 class="text-white mb-2">404<span class="fs-20">error</span></h2>
                    <h5 class="error-details text-white">
                        Oops! Some error has occured, Requested page not found!
                    </h5>

                </div>
            </div>
        </div>
        <!-- PAGE-CONTENT OPEN CLOSED -->
    </div>
</body>

