
    <!-- PAGE -->
    <div class="page" style="color:black;">
        <!-- PAGE-CONTENT OPEN -->
        <div class="page-content error-page error2">
            <div class="container text-center">
                <div class="error-templates">
                    <h2 class="text-black mb-2">401<span class="fs-20"> UnAuthorized</span></h2>
                    <h5 class="error-details text-black">
                        You don't have permission to access this page!
                    </h5>

                </div>
            </div>
        </div>
        <!-- PAGE-CONTENT OPEN CLOSED -->
    </div>
